* {
  font-family: serif;
  color: black;
}

.timer-div {
  padding-top: 250px;
  max-width: 500px;
  margin: auto
}

.timer-reading {
  text-align: center;
}

/* nav */

.topnav {
  padding-top: 30px;
  width: 800px;
  margin: 0px auto;
  display: inline-block;
}

.topnav-left {
  float: left
}

.topnav a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 100px 10px 0px 0px
}

.topnav a:hover {
  color: #000;
}

.topnav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(15, 141, 128, 0.9);
  transform: scaleX(0);
  transition: transform 0.15s ease;
}

.topnav a:hover::before {
  transform: scaleX(1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
